#endingContainer {
  background-color: rgba(0, 0, 0, .7);
}

.ending-container {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    display: block;
    width: 100%;
  }

  .ending-logo {
    width: 60vw;
    transform-origin: center;
    animation: enlarge_logo 1s cubic-bezier(0, 1.32, 0.9, 1) 1 0.2s;
  }

  .ending-title {
    width: 150vw;
    height: 37vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
    visibility: hidden;
    transform: rotate(-6.4deg);
    transform-origin: center;
    animation: ko_bg_scalc 1s cubic-bezier(0, 1.32, 0.9, 1) 1 0.2s;

    &>span {
      visibility: hidden;
      height: unset !important;
      animation: ko_text_scalc 1.2s cubic-bezier(0, 1.32, 0.9, 1) 1 0.2s;
    }
  }

  .ending-install {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: 2vh;

    .ending-btn {
      width: 65.6vw;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transform-origin: center;
      animation: enlarge_btn 1s cubic-bezier(0, 1.32, 0.9, 1) 1 0.2s;

      &>img {
        position: absolute;
        z-index: -20;
        transform: scale(1.25);
      }

      &>span {
        width: 100%;
        height: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .ending-retry {
      margin-top: 5vh;
    }
  }

  &.ending-defeat {
    .ending-logo {
      margin-bottom: 5vh;
    }

    .ending-title {
      display: none;
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 414px) and (orientation: portrait) {
  .ending-container {
    .ending-install {
      .ending-retry {
        margin-top: 3vh;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ending-container {
    .ending-logo {
      width: 46vw;
    }

    .ending-install {
      .ending-btn {
        width: 50.6vw;
      }

      .ending-retry {
        margin-top: 4vh;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .ending-container {
    justify-content: space-between;

    &.ending-defeat {
      justify-content: center;
    }

    .ending-logo {
      width: 23vw;
      margin-top: 3vh;
    }

    .ending-title {
      width: unset;
      height: 44vh;
      transform: scale(0.8) rotate(-6.4deg);
      background-size: 120% 100%;
      position: absolute;
      left: -25vw;
      right: -25vw;
      top: 0;
      bottom: 0;
      margin: auto;
      animation: ko_bg_scalc_l 1s cubic-bezier(0, 1.32, 0.9, 1) 1 0.2s;
    }

    .ending-install {
      margin-bottom: 10vh;
      justify-content: space-evenly;
      flex-direction: row;

      .ending-btn {
        width: 35.6vw;
        height: 18vh;
      }

      .ending-retry {
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .ending-container {
    .ending-logo {
      width: 28vw;
    }
  }
}

@keyframes ko_bg_scalc {
  0% {
    visibility: visible;
    transform: translateX(-250%) rotate(-6.4deg);
  }

  25% {
    visibility: visible;
    transform: translateX(-250%) rotate(-6.4deg);
  }

  50% {
    visibility: visible;
    transform: translateX(-125%) rotate(-6.4deg);
  }

  75% {
    visibility: visible;
    transform: translateX(0) rotate(-6.4deg);
  }

  100% {
    visibility: visible;
    transform: translateX(0) rotate(-6.4deg);
  }
}

@keyframes ko_bg_scalc_l {
  0% {
    visibility: visible;
    transform: translateX(-250%) scale(0.8) rotate(-6.4deg);
  }

  25% {
    visibility: visible;
    transform: translateX(-250%) scale(0.8) rotate(-6.4deg);
  }

  50% {
    visibility: visible;
    transform: translateX(-125%) scale(0.8) rotate(-6.4deg);
  }

  75% {
    visibility: visible;
    transform: translateX(0) scale(0.8) rotate(-6.4deg);
  }

  100% {
    visibility: visible;
    transform: translateX(0) scale(0.8) rotate(-6.4deg);
  }
}

@keyframes ko_text_scalc {
  0% {
    visibility: hidden;
    transform: translateX(1000%);
  }

  25% {
    visibility: hidden;
    transform: translateX(1000%);
  }

  50% {
    visibility: hidden;
    transform: translateX(500%);
  }

  75% {
    visibility: visible;
    transform: translateX(0);
  }

  100% {
    visibility: visible;
    transform: translateX(0);
  }
}

@keyframes enlarge_logo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes enlarge_btn {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.1)
  }

  100% {
    transform: scale(1)
  }
}
